name: Binary Compatibility

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  check-binary-compatibility:
    name: Check / Binary Compatibility
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-persistence-r2dbc'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: 0

      - name: Setup Java 17
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: temurin
          java-version: 17

      - name: Install sbt
        uses: sbt/setup-sbt@6c68d2fe8dfbc0a0534d70101baa2e0420e1a506 # v1.1.9

      - name: Cache Coursier cache
        uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # 6.4.7

      - name: Enable jvm-opts
        run: cp .jvmopts-ci .jvmopts

      - name: Compile code
        run: sbt +compile

      - name: Report MiMa Binary Issues
        run: |-
          sbt +mimaReportBinaryIssues

      - name: Check correct MiMa filter directories
        run: |
          sbt checkMimaFilterDirectories
