name: Validate and test

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  compile:
    name: Test and compile
    runs-on: ubuntu-latest
    strategy:
      matrix:
        SCALA_VERSION: [ 2.12, 2.13. 3.3 ]
        JAVA_VERSION: [ 8 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Java ${{ matrix.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.JAVA_VERSION }}

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6

      - name: Enable jvm-opts
        run: cp .jvmopts-ci .jvmopts

      - name: Compile and test for JDK ${{ matrix.JAVA_VERSION }}, Scala ${{ matrix.SCALA_VERSION }}
        run: sbt -Dpekko.build.pekko.version=main ++${{ matrix.SCALA_VERSION }} test:compile

  test-postgres:
    name: Run test with Postgres
    runs-on: ubuntu-latest
    strategy:
      matrix:
        SCALA_VERSION: [ 2.12, 2.13, 3.3 ]
        JAVA_VERSION: [ 8 ]
    if: github.repository == 'apache/pekko-persistence-r2dbc'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Setup Java ${{ matrix.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.JAVA_VERSION }}

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6

      - name: Enable jvm-opts
        run: cp .jvmopts-ci .jvmopts

      - name: Start DB
        run: |-
          docker-compose -f docker/docker-compose-postgres.yml up -d
          # TODO: could we poll the port instead of sleep?
          sleep 10
          docker exec -i docker_postgres-db_1 psql -U postgres -t < ddl-scripts/create_tables_postgres.sql

      - name: test
        run: sbt -Dpekko.build.pekko.version=main ++${{ matrix.SCALA_VERSION }} test

  test-yugabyte:
    name: Run tests with Yugabyte
    runs-on: ubuntu-latest
    strategy:
      matrix:
        SCALA_VERSION: [ 2.12, 2.13, 3.3 ]
        JAVA_VERSION: [ 8 ]
    if: github.repository == 'apache/pekko-persistence-r2dbc'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Setup Java ${{ matrix.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.JAVA_VERSION }}

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6

      - name: Enable jvm-opts
        run: cp .jvmopts-ci .jvmopts

      - name: Start DB
        run: |-
          docker-compose -f docker/docker-compose-yugabyte.yml up -d
          # TODO: could we poll the port instead of sleep?
          sleep 10
          docker exec -i yb-tserver-n1 /home/yugabyte/bin/ysqlsh -h yb-tserver-n1 -t < ddl-scripts/create_tables_yugabyte.sql

      - name: test
        run: sbt -Dpekko.build.pekko.version=main -Dpekko.persistence.r2dbc.dialect=yugabyte -Dpekko.projection.r2dbc.dialect=yugabyte ++${{ matrix.SCALA_VERSION }} test
